.navbar-brand {
    margin-left: 10%;

}

.nav-item {
    padding: 0px 0px 0px 16px;
    text-decoration: none;

    display: block;
    margin-left: 10px;
}

.side-nav {
    margin-top: 0px;
}

.side-nav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    margin-left: 10px;

}

.side-nav a:hover {
    color: white;
}

ul {
    list-style: none;
}
